apiVersion: v1
kind: Service
metadata:
  name: spring-boot-prometheus-app
  namespace: default
  labels:
    app: spring-boot-prometheus-app
    prometheus.io/scrape: "true"
    prometheus.io/port: "8081"
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: spring-boot-prometheus-app

