apiVersion: v1
kind: Service
metadata:
  name: spring-boot-prometheus-app
  namespace: default
  labels:
    app: spring-boot-prometheus-app
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: spring-boot-prometheus-app

